My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "Extraire les clauses sensibles\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "4faa9704-923e-4416-b403-47769e649233",
      "name": "Analyse IA Soverys",
      "credentials": {
        "ollamaApi": {
          "id": "udY8kiXj3kR8ZNi5",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1d3c4274-909d-48c9-9816-94a46b63bc47",
      "name": "Pour lancer le test à la main"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "664fb61c-b77e-4713-88c7-d4e3c3990698",
              "leftValue": "={{ $json.content }}",
              "rightValue": "\"RISQUE\"",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        736,
        0
      ],
      "id": "07d07aea-9654-4deb-b90d-28d8ec4665a1",
      "name": "Vérification Conformité"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "resultats_analyse_soverys.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        944,
        0
      ],
      "id": "318ac4b2-1f42-45b2-adf7-b1eba35d7e70",
      "name": "Sauvegarde BDD Locale"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88e9631f-813d-4307-866b-697affa38ce9",
              "name": "text",
              "value": "CONTRAT DE TRAVAIL. Entre la société Soverys et M. Jean Dupont. Date d'entrée : 01/02/2026. Salaire : 3000€. Clause de confidentialité : Oui.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "1f3db582-5234-4346-904d-1638cd8db2ce",
      "name": "Extraire les fichiers"
    }
  ],
  "pinData": {},
  "connections": {
    "Pour lancer le test à la main": {
      "main": [
        [
          {
            "node": "Extraire les fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse IA Soverys": {
      "main": [
        [
          {
            "node": "Vérification Conformité",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vérification Conformité": {
      "main": [
        [
          {
            "node": "Sauvegarde BDD Locale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauvegarde BDD Locale": {
      "main": [
        []
      ]
    },
    "Extraire les fichiers": {
      "main": [
        [
          {
            "node": "Analyse IA Soverys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ad690865-3424-4088-8a11-aac70c01bf34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c1af18e02cfc2d8a84c53b3f3223b4877fec0039e62f57e79f6b349314ab6b9"
  },
  "id": "9yLAFy1iAlfmg70UgDqjp",
  "tags": []
}